{% extends 'core/base.html' %}

{% block title %}Items{%endblock%}

{% block content %}
    <div class ='pb-6 grid grid-cols-4 gap-4 bg-gray-100'>
        <div class='col-span-1 text-center bg-gray-300 py-1 px-1 rounded-xl'>
            <form method='get' action="{% url 'item:items' %}">
                <input name='query' class='w-full py-4 px-6 border rounded-xl text-center' type='text' value="{{query}}" placeholder = "Find an item...">

                <button class='mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl hover:bg-teal-700'>Search</button>
            </form>

            <hr class='my-6'>

            <p class='font-semibold'>Categories</p>

            <ul>
                {% for category in categories %}
                    <li clas="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                        <a href="{% url 'item:items' %}?query={{query}}&category={{category.id}}">{{category.name}}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr class='my-6'>
            <ul>
                <li><a href="{% url 'item:items' %}" class='mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white hover:bg-yellow-700'>Clear Filters</a>
            </ul>
        </div>
        <div class='col-span-3'>
            <div class='grid grid-cols-3 gap-3'>
                {% for item in items %}
                    <div class='hover:scale-105'>
                        <a href="{% url 'item:detail' item.id %}">
                            <div class='bg-gray-300 rounded-t-xl'>
                                <img src="{{item.image.url }}" class = 'rounded-t-xl'>
                            </div>
    
                            <div class='p-6 bg-gray-600 rounded-b-xl text-center'>
                                <h2 class='text-xl text-white'> {{item.name}}</h2>
                                <p class= 'text-gray-100'> Price: {{item.price}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{%endblock%}